/* NAVIGATION STUFF GOES HERE  */
nav {
    ul {
        display: flex;
        justify-content: flex-start;
        column-gap: $gutter;
    }
    ul li a {
        margin: 10px 0;
    }

    ul li a:hover {
        text-decoration: underline 2px $accentColor;
    }
}

header {
    p.phone {
        margin: 0;
        font-size: 1.6rem;
        font-weight: $normalWeight;
        a {
            color: $primaryColor;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        .phoneText {
            display: inline;
        }
        .phoneIcon {
            display: none;
        }
    }
}