/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

/*  Apply a natural box layout model to all elements  */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} // end all elements


/* --------------------------- BODY --------------------------- */
body {
    font-family: $defaultFont;
    font-weight: $normalWeight;
    min-width: 320px;
}


/* --------------------------- HEADER --------------------------- */
#headerWrapper {
    border-bottom: 1px solid $greyColor;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center; // Vertically align items
    padding: .5rem $gutter;

    .header-content {
        display: flex;
        align-items: center;

        img {
            margin-right: $gutter;
        }

        span {
            font-size: 1.2rem;
            font-weight: $normalWeight;
            color: $primaryColor;
        }
    }

    p.phone {
        .phoneIcon {
            display: inline;
        }
        .phoneText {
            display: none;
        }
    }
}  // end header


/* --------------------------- NAVIGATION STUFF GOES HERE --------------------------- */
#navWrapper {
    background-color: $primaryColor;
}

nav {
    ul {
        padding: 0;
        margin: 0 $gutter;
    }
    ul li {
        list-style-type: none;
    }
    ul li a {
        color: $greyColor;
        text-decoration: none;
        display: block;
        padding: 0.8rem $gutter;
    }
    ul li.active a {
        background-color: rgba(78, 31, 97, 0.8);
        color: $greyColor;
        border-radius: 10px;
    }
}

/* --------------------------- MAIN --------------------------- */
#mainWrapper {
    margin-bottom: 2rem;
}

main {
    margin-bottom: 2rem;
    h1 {
        padding: 1rem $gutter.5rem 1rem;
        font-size: 1.5rem;
        color: $secondaryColor;
        font-weight: $heavyWeight;
    }
    p {
        padding: .5rem $gutter;
        color: #333;
        line-height: $leading;
    }
}

main > div > div {
    img {
        display: block;
        width: 100%;
        height: auto;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}

.parentGallery {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 32px;
    column-gap: 32px;
    div {
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 285px;
        filter: drop-shadow(0 0 5px #dedede);

        p {
            background-color: $accentColor;
            margin: 0;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            text-align: center;
        }
    }
}

main > div > div > p {
    a {
        color: #333;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}

// end main



/* --------------------------- FOOTER --------------------------- */
#footerWrapper {
    background-color: $primaryColor;
} // end footer wrapper

footer {
    font-size: .85rem;
    padding: 1rem $gutter;
    color: $greyColor;
    text-align: center;
    line-height: $leading;
    a {color: $greyColor;}
}// end footer