$primaryColor: #2c0d30; 
$secondaryColor: #4e1f61;
$accentColor: #f1b341;
$greyColor: #eaeaea;

$defaultFont: "Poppins", serif;
$lightWeight: 200;
$normalWeight: 500;
$heavyWeight: 700;
$leading: 150%;

$gutter: 10px;