$primaryColor: #2c0d30; 
$secondaryColor: #4e1f61;
$accentColor: #f1b341;
$greyColor: #eaeaea;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;